html, body {
    font-family: serif;
}
body {
    margin: 20px;
}

article {
    margin: 10px;
}

input {
    width: 250px;
}

.input_t19_1, .input_t19_2, .input_t19_3 {
    width: 170px;
    margin-bottom: 10px;
}

.button_t19 {
    width: 30px;
    height: 20px;
    font-weight: bold;
}

.input_t20_1, .input_t20_2, .input_t20_3 {
    width: 170px;
    margin-bottom: 10px;
}

.button_t20 {
    width: 30px;
    height: 20px;
    font-weight: bold;
}